<form [formGroup]="cocktailsFiltersForm" class="cocktail-filters">
    <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput placeholder="Solo números" formControlName="id" appOnlyNumbers />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Solo letras" formControlName="name" appOnlyLetters maxlength="50" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ingrediente</mat-label>
        <input matInput placeholder="Letra o números" formControlName="ingredient" />
    </mat-form-field>
    <button class="btn-primary" (click)="filterFormValueChangedEmit()">Filtrar</button>
    <button class="btn-secundary" (click)="cleanFilters()">Limpiar Filtros</button>
</form>