.cocktails-table {
    display: flex;
    flex-direction: column;

    &__item-header {
        display: flex !important;
        justify-content: center;
        height: 55px;
        align-items: center;
    }

    &__name {
        width: 40%;
        text-align: justify;
        padding: 10px 0px;
    }

    &__column {
        display: flex; 
        justify-content: center; 
        height: 56px; 
        align-items: center;
    }

}